<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome Mr. <%= @user.email %></h1>
    <p>
      You have successfully cancel your ticket,
      your amount is : <%= @reservation.fare %><br>
      amount will be refunded shortly
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
