<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome Mr. <%= @user.email %></h1>
    <p>
      You have successfully paid amount for ticket,
      your amount is : <%= @payment.amount %><br>
      track your bus with:<%= @payment.ref_id %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
